
#title legend,
#content legend {
	display: none;
}

#title input {
	font-size: 140%;
	margin-bottom: 20px;
	padding: 10px 14px;
	width: 790px;
}

#content textarea {
	height: 320px;
	padding: 10px 14px;
	width: 790px;
}

#part-two {
	display: none;
}


#ext_options {
	background-color: #f2f2f2;
	margin: 60px -40px -30px;
	padding: 0 40px 30px;
}

	#ext_nav li {
		border-top: 4px solid transparent;
		color: #808080;
		cursor: pointer;
		display: inline-block;
		font-family: "OpenSans Light WebFont";
		font-size: 130%;
		margin: 0 30px 20px 0;
		padding: 26px 0 10px 0;
	}

	#ext_nav li.active {
		color: #000000;
	}

	#ext_nav li:hover {
		border-color: #80b0e0;
	}

		.categories ul ul {
			margin-left: 26px;
		}

		.categories li {
			padding: 4px 0;
		}

		.categories ul li:last-child {
			padding-bottom: 0;
		}

		.categories input[type="checkbox"] {
			margin-right: 10px;
			vertical-align: middle;
		}

		.addtags {
			margin-right: -5px;
			min-width: 50%;
		}

		.tabpanel .hint {
			margin-top: 10px;
		}
