/* Web fonts */
/* --------- */

@font-face {
	font-family: "OpenSans WebFont";
	src: url( "open-sans/OpenSans-Regular.ttf" );
}

@font-face {
	font-family: "OpenSans WebFont";
	font-weight: bold;
	src: url( "open-sans/OpenSans-Bold.ttf" );
}

@font-face {
	font-family: "OpenSans WebFont";
	font-style: italic;
	src: url( "open-sans/OpenSans-Italic.ttf" );
}

@font-face {
	font-family: "OpenSans WebFont";
	font-style: italic;
	font-weight: bold;
	src: url( "open-sans/OpenSans-BoldItalic.ttf" );
}

@font-face {
	font-family: "IconicFill";
	src: url( "iconic/iconic_fill.otf" ) format( "opentype" );
}

/* Light */

@font-face {
	font-family: "OpenSans Light WebFont";
	src: url( "open-sans/OpenSans-Light.ttf" );
}

@font-face {
	font-family: "OpenSans Light WebFont";
	font-style: italic;
	src: url( "open-sans/OpenSans-LightItalic.ttf" );
}

/* Semibold */

@font-face {
	font-family: "OpenSans Semibold WebFont";
	src: url( "open-sans/OpenSans-Semibold.ttf" );
}

@font-face {
	font-family: "OpenSans Semibold WebFont";
	font-style: italic;
	src: url( "open-sans/OpenSans-SemiboldItalic.ttf" );
}



/* General stuff */
/* ------------- */


* {	/* reset */
	margin: 0;
	padding: 0;
}

html {	/* background */
	background-color: #ffffff;
	color: #000000;
	font-family: "OpenSans WebFont", "DejaVu Sans", Verdana, Arial, Helvetica, sans-serif;
	font-size: 15px;
	min-height: 100%;
}

body {
	padding-bottom: 40px;
}

a {
	color: #000000;
	display: inline-block;
	text-decoration: none;
}

a:hover {
	color: #0040d0;
}

fieldset {
	border: 0;
}

h1 {
	font-size: 160%;
	font-weight: normal;
}

input, select, textarea {
	background-color: #ffffff;
	border: 1px solid #d0d0d0;
	border-radius: 1px;
	color: #000000;
	font-size: 100%;
}

input {
	font-size: 90%;
}

input[type="radio"] {
	border-color: transparent;
}

input[type="submit"],
input[type="button"],
button {
	padding: 7px 10px 6px;
}

input[type="submit"]:hover,
input[type="button"]:hover,
button:hover {
	cursor: pointer;
}

input[type="text"],
input[type="password"] {
	height: 18px;
	padding: 6px 10px;
}

input:focus,
textarea:focus {
	border-color: #d0d0d0;
}

label {
	cursor: pointer;
}

textarea {
	font-family: "OpenSans WebFont";
	padding: 10px;
}

ol, ul {
	list-style-type: none;
}

ul ul {
	margin-left: 20px;
}



/* Reoccuring structure */
/* -------------------- */


/* Navigation */

.nav {
	margin: 0 auto;
	max-width: 1000px;
	text-align: center;
}

	.area-nav {
		margin-bottom: 60px;
	}

		.area-nav li {
			border: 1px solid #e9e9e9;
			border-bottom-color: transparent;
			border-right-color: transparent;
			border-top: 0;
			display: inline-block;
			margin-right: -5px;
			position: relative;
		}

		.area-nav li:last-child {
			border-right-color: #e9e9e9;
		}

		.area-nav li:hover {
			background-color: #ffffff;
			border-color: #e9e9e9;
		}

			.area-nav li:hover .area-sub-nav {
				display: block;
			}

		.area-nav a {
			color: #808080;
			font-family: "OpenSans Semibold WebFont";
			padding: 10px 20px;
			position: relative;
			text-transform: uppercase;
			width: 100px;
			z-index: 10;
		}

			.area-nav li:hover a {
				background-color: #ffffff;
			}

			.area-nav .active a {
				color: #000000;
			}


/* Section image */

.area-nav a:before {
	display: inline-block;
	font-family: "IconicFill";
	margin-right: 5px;
	position: relative;
	top: -1px;
}

	.area-sub-nav a:before {
		display: none;
	}

.nav-link-dash a:before { content: "\e00b"; }
.nav-link-create a:before { content: "\270e"; }
.nav-link-manage a:before { content: "\e065"; }
.nav-link-media a:before { content: "\e026"; }
.nav-link-theme a:before { content: "\e06a"; top: 0; }
.nav-link-settings a:before { content: "\e078"; }


/* Sub-navigation */

.area-sub-nav {
	background-color: #ffffff;
	border: 1px solid #e9e9e9;
	box-shadow: 0 0 25px 0 rgba( 60, 60, 60, 0.1 );
	display: none;
	left: -1px;
	margin-left: 0;
	padding: 10px 0;
	position: absolute;
	text-align: left;
	top: 35px;
	z-index: 5;
}

	.area-sub-nav li {
		border: 0;
		display: block;
		margin: 0;
		white-space: nowrap;
	}

	.area-sub-nav a {
		border: 1px solid transparent;
		border-left-color: #ffffff !important;
		border-right-color: #ffffff !important;
		color: #404040 !important;
		font-family: "OpenSans WebFont";
		font-size: 90%;
		padding: 6px 19px;
		text-transform: none;
		width: 100px;
	}

	.area-sub-nav li:hover a {
		background-color: #f8fbff;
		border-color: #ebf0f4;
		color: #306070 !important;
	}


/* Go to blog */

.go-to-blog {
	display: none;
}


/* Logout */

.logout {
	display: none;
}


/* Search form */

.search {
	display: none;
}


/* Footer with stats */

.loadstats {
	display: none;
	font-family: "OpenSans Light WebFont";
	font-size: 90%;
	margin: 60px auto 0;
	max-width: 900px;
	opacity: 0.2;
	text-align: center;
}

.loadstats:hover {
	opacity: 1.0;
}

	.loadstats span {
		font-family: "OpenSans Semibold WebFont";
	}


/* Convenience */

.clear {
	clear: both;
	display: block;
}

.hideifnojs {
	display: none;
}

.hint {
	color: #606060;
}
