/* Web fonts */
/* --------- */


@font-face {
	font-family: "OpenSans WebFont";
	src: url( "open-sans/OpenSans-Regular.ttf" );
}

@font-face {
	font-family: "OpenSans WebFont";
	font-weight: bold;
	src: url( "open-sans/OpenSans-Bold.ttf" );
}

@font-face {
	font-family: "OpenSans WebFont";
	font-style: italic;
	src: url( "open-sans/OpenSans-Italic.ttf" );
}

@font-face {
	font-family: "OpenSans WebFont";
	font-style: italic;
	font-weight: bold;
	src: url( "open-sans/OpenSans-BoldItalic.ttf" );
}


/* Light */

@font-face {
	font-family: "OpenSans Light WebFont";
	src: url( "open-sans/OpenSans-Light.ttf" );
}

@font-face {
	font-family: "OpenSans Light WebFont";
	font-style: italic;
	src: url( "open-sans/OpenSans-LightItalic.ttf" );
}


/* Semibold */

@font-face {
	font-family: "OpenSans Semibold WebFont";
	src: url( "open-sans/OpenSans-Semibold.ttf" );
}

@font-face {
	font-family: "OpenSans Semibold WebFont";
	font-style: italic;
	src: url( "open-sans/OpenSans-SemiboldItalic.ttf" );
}



/* General stuff */
/* ------------- */


* {   /* reset */
	margin: 0;
	padding: 0;
}

html {   /* background */
	background-color: #f0f0f0;
	background-image: -o-linear-gradient(
		40deg,
		#e8e8e8 20%,
		#f2f2f2 20%,
		#f2f2f2 29%,

		#e8e8e8 29%,
		#e8e8e8 50%,
		#f4f4f4 50%,
		#f4f4f4 55%,

		#e8e8e8 55%,
		#e8e8e8 57%,
		#ededed 57%,
		#ededed 59%,

		#e8e8e8 59%,
		#e8e8e8 71%,
		#f0f0f0 71%,
		#f0f0f0 79%,

		#e8e8e8 79%
	);
	color: #000000;
	font-family: "OpenSans WebFont", "DejaVu Sans", Verdana, Arial, Helvetica, sans-serif;
	font-size: 15px;
	min-height: 100%;
}

body {
	padding-bottom: 40px;
}

a {
	color: #000000;
	display: inline-block;
	text-decoration: none;
}

a:hover {
	color: #0040d0;
}

fieldset {
	border: 0;
}

h1 {
	font-size: 160%;
	font-weight: normal;
}

input,select,textarea {
	border: 1px solid #d0d0d0;
	border-radius: 1px;
	color: #000000;
	font-size: 100%;
}

input {
	font-size: 90%;
}

input[type="radio"] {
	border-color: transparent;
}

input[type="submit"],
input[type="button"],
button {
	background-color: #dc4020;
	border: 1px solid #dc4020;
	color: #ffffff;
	padding: 7px 10px 6px;
}

input[type="submit"]:hover,
input[type="button"]:hover,
button:hover {
	background-color: #fc6040;
	border-color: #fc6040;
	cursor: pointer;
}

input[type="text"],
input[type="password"] {
	height: 18px;
	padding: 6px 10px;
}

input:focus,
textarea:focus {
	border-color: #f6a080;
}

label {
	cursor: pointer;
}

label:hover {
	color: #c07010;
}

textarea {
	font-family: "OpenSans WebFont";
	padding: 10px;
}

ol,ul {
	list-style-type: none;
}

ul ul {
	margin-left: 20px;
}



/* Reoccuring structure */
/* -------------------- */


/* Navigation */

.nav-container {
	margin: 0 auto;
	max-width: 1000px;
	text-align: center;
}

.nav-main {
	margin-bottom: 60px;
}

	.nav-main li {
		border: 1px solid #e0e0e0;
		border-bottom-color: transparent;
		border-right-color: transparent;
		border-top: 0;
		display: inline-block;
		margin-right: -3px;
		position: relative;
	}

	.nav-main li:last-child {
		border-right-color: #e0e0e0;
	}

	.nav-main li:hover {
		background-color: #ffffff;
		border-color: #e0e0e0;
	}

	.nav-main li:hover .nav-sub {
		display: block;
	}

		.nav-main a {
			color: #808080;
			font-family: "OpenSans Semibold WebFont";
			padding: 10px 20px;
			position: relative;
			text-transform: uppercase;
			min-width: 80px;
			z-index: 10;
		}

		.nav-main li:hover a {
			background-color: #ffffff;
		}

		.nav-main .active a {
			color: #000000;
		}


/* Sub-navigation */

.nav-sub {
	background-color: #ffffff;
	border: 1px solid #e0e0e0;
	box-shadow: 0 0 40px 0 rgba( 60, 60, 60, 0.2 );
	display: none;
	left: -1px;
	margin-left: 0;
	padding: 10px 0;
	position: absolute;
	text-align: left;
	top: 35px;
	z-index: 5;
}

	.nav-sub li {
		border: 0;
		display: block;
		margin: 0;
		white-space: nowrap;
	}

	.nav-sub a {
		border: 1px solid transparent;
		border-left-color: #ffffff !important;
		border-right-color: #ffffff !important;
		color: #404040 !important;
		font-family: "OpenSans WebFont";
		font-size: 90%;
		padding: 6px 19px;
		text-transform: none;
		width: 80px;
	}

	.nav-sub li:hover a {
		background-color: #f8fbff;
		border-color: #ebf0f4;
		color: #306070 !important;
	}


/* Other stuff in the header area */

.area-2 {
	display: none;
}


/* Search form */

.search {
	display: none;
}


/* Header */

header.content-menu {
	background-color: rgba( 255, 255, 255, 0.7 );
	margin: 0 auto;
	max-width: 900px;
	padding: 20px 40px;
}


/* Main content */

.container {
	box-shadow: 0 0 40px 0 rgba( 60, 60, 60, 0.1 );
	margin: 0 auto;
	max-width: 900px;
}

.content {
	background-color: #ffffff;
	padding: 30px 40px;
}


/* Footer with stats */

.loadstats {
	font-family: "OpenSans Light WebFont";
	font-size: 80%;
	margin: 60px auto 0;
	max-width: 900px;
	opacity: 0.2;
	text-align: center;
}

.loadstats:hover {
	opacity: 1.0;
}

	.loadstats span {
		font-family: "OpenSans Semibold WebFont";
	}


/* Convenience */

.clear {
	clear: both;
	display: block;
}

.hideifnojs {
	display: none;
}

.hint {
	color: #606060;
}
